* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.promo {
    background: url('/rsschool-cv/img/1645092948_23-phonoteka-org-p-ofisnii-fon-dlya-prezentatsii-23.jpg') center center/cover no-repeat;
    height: 700px;
}

.head {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.head .descr .name {
    font-size: 50px;
    font-weight: bold;
    margin-top: 50px;
}

.head .descr .divider {
    width: 600px;
    height: 4px;
    background-color: black;
    margin-top: 50px;
}

.head .descr .proffesion {
    margin-top: 50px;
    font-size: 30px;
    text-transform: uppercase;
}

.head .myPhoto {
    display: block;
    height: 500px;
    width: 300px;
    margin-top: 80px;
}

.information {
    height: 500px;
    background-color:rgba(252, 239, 216, 0.788);
}

.information_wrapper {
    display: flex;
    justify-content: space-around;
}

.textcontact {
    margin-top: 70px;
    font-size: 40px;
    text-transform: uppercase;
}

.number {
    margin-top: 10px;
}

.about {
    margin-top: 30px;
    font-size: 40px;
    text-transform: uppercase;
}

.adress {
    margin-top: 10px;
}

.descr_about {
    margin-top: 10px;
}

.languag {
    margin-top: 30px;
    font-size: 40px;
    text-transform: uppercase;
}

.descr_languag {
    margin-top: 10px;
}

.educ_text {
    margin-top: 70px;
    font-size: 40px;
    text-transform: uppercase;
}

.skills_text {
    margin-top: 35px;
    font-size: 40px;
    text-transform: uppercase;
}

.courses {
    margin-top: 10px;
}

.code_example {
    margin-top: 30px;
    font-size: 40px;
    text-transform: uppercase;
}